*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    scrollbar-color: #108e9ea8 transparent;
}

h1{
    font-family: "roboto", sans-serif;
    font-weight: 900;
    font-size: 52px;
}
a {
    text-decoration: none;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
a:hover {
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    transition: all 0.6s ease;
}


.container-fluid h1 {
    margin-left: 2rem;
}
.col a{
    text-decoration: none;
}
#rendix_logo{
    font-size: 28px;
}
.img_logo_header {
    width: 4rem;
}
.form-control.me-2 {
    width: auto;
    max-width: 10rem;
    background-color: #108d9e;
    margin-left: 3rem;
}
.navbar-nav a {
    color: #000000;
    text-decoration: none;
}
.navbar-nav {
    margin-right: 2rem;
}
.nav-item {
    display: flex;
    align-items: center;
    margin-right: 2rem;
}
.img-estudiante {
    width: 3.8rem;
}



.sidebar-section {
    height: 100vh;
}
.sidebar-section-header{
    background-color: #ffffff;
    width: 100%;
    display: block;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    z-index: 1000;
}
.sidebar {
    position: fixed;
    width: 17em;
    height: 100vh;
    top: 0;
    overflow: hidden;
    z-index: 999;
    color: #EFF3F6;
    border-top-right-radius: 15px;
    -webkit-transform: translateZ(0);
    visibility: visible;
    -webkit-backface-visibility: hidden;
    margin: 0;
}
.sidebar header {
    background-color: #108d9e;
    width: 100%;
    display: block;
    padding: 0.75em 1em;
    text-decoration: none;
}
.sidebar_nav {
    position: fixed;
    background-color: #108d9e;
    height: 100%;
    font-weight: 400;
    font-size: 1.2em;
    overflow: auto;
    padding-bottom: 6em;
    z-index: 9;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}
.sidebar_nav ul {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
    text-decoration: none;
    margin-top: 50px;
}
.sidebar_nav ul li {
    margin-left: 0;
    padding-left: 0;
    display: inline-block;
    width: 100%;
    text-decoration: none;

}
.sidebar_nav ul li a {
    color: #ffffff;
    font-size: 0.7em;
    padding: 1.5em 1em;
    position: relative;
    display: block;
    text-decoration: none;
}
.sidebar_nav ul li a:hover {
    background-color: #fcfcfc22;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
.sidebar_nav ul li i {
    font-size: 1.8em;
    padding-right: 0.5em;
    width: 9em;
    display: inline;
    vertical-align: middle;
    text-decoration: none;
}
.sidebar_nav > ul > li > a:after {
    content: "";
    font-size: 0.5em;
    width: 10px;
    color: #000000;
    position: absolute;
    right: 0.75em;
    top: 45%;
}
#img_sidebar{
    width: 7%;
    margin: 0 15px;
}
#img_sidebar_logo{
    width: 65%;
    margin-left: 35px;
    vertical-align: middle;
    opacity: 0.2;
}
.link_cerrar{
  margin-top: 45px;
}
.sidebar_nav .nav_flyout {
    position: absolute;
    background-color: #6fb3bd;
    border-top-left-radius: 15px;
    z-index: 9;
    left: 2.5em;
    top: 0;
    height: 100vh;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.sidebar_nav .nav_flyout a:hover {
    background-color: #ffffff22;
}
.sidebar_nav ul > li:hover .nav_flyout {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
  
  
  
  
.home {
    position: absolute;
    top: 0;
    top: 0;
    left: 240px;
    height: 100vh;
    width: calc(100% - 240px);
}
.home .text {
    font-size: 30px;
    font-weight: 500;
    padding: 12px 60px;
}
body{
    background-color: #a1d0d3;
}

#goto-top-button {
    display: inline-block;
    background-color: #e37222;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    text-decoration: none;
}
#goto-top-button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #ffffff;
}
#goto-top-button:hover {
    cursor: pointer;
    background-color: #333333;
}
  #goto-top-button:active {
    background-color: #555555;
}
#goto-top-button.show {
    opacity: 1;
    visibility: visible;
}



.container-all{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin: 0;
    padding: 15px;
    background-color: #a1d0d3;
}

.container-banner{
    grid-area: 1 / 1 / 2 / 2;  
    position: relative;
    margin-top: 50px;
}
.h1materiales{
    display: inline-block;
    padding: 12px 5px;
    margin-top: 25px;
    margin-left: -23px;
    width: 103%;
    background-color: #108d9e;
    color: #ffffff;
}
.h1materiales h1{
    margin-left: 20px;
    font-size: 30px;
}
#banner_img {
    max-width: 90%;
    border-radius: 18px;
    object-fit: cover;
    display: block;
    margin-top: 20px;
    margin-left: 60px;
}


.container-calendar{
    grid-area: 2 / 1 / 3 / 2; 
    margin: 0; padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px;
}

.calendar {
    --side-padding: 20px;
    --border-radius: 18px;
    --accent-br: 15px;
    width: 50%;
    border: 1px solid #bebebe;
    border-radius: var(--border-radius);
    margin-top: 15px;
}
.calendar select {
    background-color: #EFF3F6;
    padding: 15px 20px;
}
.calendar__opts, .calendar__buttons {
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
}
.calendar__opts {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    padding: 20px var(--side-padding);
}
.calendar__body {
    background-image: linear-gradient(to bottom, #EFF3F6, #fff);
}
.calendar__days {
    background-color: #ffffff;
    padding: 0 var(--side-padding) 10px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.calendar__days > div {
    text-align: center;
    font-weight: 700;
    font-size: 1.02rem;
    color: #979898;
}
.calendar__dates {
    padding: 10px var(--side-padding);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.calendar__date {
    --height: calc(400px / 6 - var(--side-padding));
    text-align: center;
    height: var(--height);
    line-height: var(--height);
    font-weight: 600;
    font-size: 1.02rem;
    cursor: pointer;
    position: relative;
}
.calendar__date::before {
    content: "";
    position: absolute;
    background-color: #ffffff00;
    width: 100%;
    height: calc(var(--height) * 0.9);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--accent-br);
    transition: background-color 0.3s ease;
}
.calendar__date:not(.calendar__date--selected):not(.calendar__date--grey):hover::before {
    background-color: #d1e9f9;
}
.calendar__date--grey {
    color: #c5c8ca;
    cursor: not-allowed;
}
.calendar__date--selected {
    color: #e88606;
}
  .calendar__date--selected::before {
    background-color: #fff5ea;
    border-radius: 0px;
}
.calendar__date--first-date::before {
    border-top-left-radius: var(--accent-br);
    border-bottom-left-radius: var(--accent-br);
}
.calendar__date--last-date::before {
    border-top-right-radius: var(--accent-br);
    border-bottom-right-radius: var(--accent-br);
}
.calendar__date--range-start::after {
    content: "";
    position: absolute;
    bottom: 3px;
    border-radius: 18px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fdad42;
    width: 10px;
    height: 4px;
}
.calendar__date--range-end {
    color: #ffffff;
}
.calendar__date--range-end::before {
    box-shadow: 0 15px 20px -3px rgba(255, 55, 75, 0.35);
    background-color: #fdad42;
    border-radius: var(--accent-br);
    z-index: 1;
}

.calendar__date span {
    position: relative;
    z-index: 1;
}
.calendar__buttons {
    padding: 10px var(--side-padding) 20px;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}
.calendar__button {
    cursor: pointer;
}
.calendar__button--grey {
    background-color: #f3f4f6;
}
.calendar__button--primary {
    background-color: #3CB5F5;
    color: #ffffff;
    transition: box-shadow 0.3s cubic-bezier(0.21, 0.68, 0.09, 0.27), transform 0.2s linear;
}
.calendar__button--primary:hover {
    box-shadow: 0 20px 30px -13px #54ade888;
    transform: translateY(-3px);
}
  
select, button {
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-size: 1.02rem;
    border-radius: 18px;
    outline: none;
    border: 0;
    padding: 15px 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
  
select {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='960px' height='560px' viewBox='0 0 960 560' enable-background='new 0 0 960 560' xml:space='preserve'%3E%3Cg id='Rounded_Rectangle_33_copy_4_1_'%3E%3Cpath d='M480,344.181L268.869,131.889c-15.756-15.859-41.3-15.859-57.054,0c-15.754,15.857-15.754,41.57,0,57.431l237.632,238.937 c8.395,8.451,19.562,12.254,30.553,11.698c10.993,0.556,22.159-3.247,30.555-11.698l237.631-238.937 c15.756-15.86,15.756-41.571,0-57.431s-41.299-15.859-57.051,0L480,344.181z'/%3E%3C/g%3E%3C/svg%3E");
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: calc(100% - var(--side-padding)) center;
}


#eventListContainer {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px #0000001a;
    padding: 20px;
    margin-top: 20px;
    width: 45%; 
    align-self: flex-start;
}

#eventListContainer h3 {
    color: #333333;
    font-size: 24px;
    margin-bottom: 16px;
}

#eventList {
    list-style: none;
    padding: 0;
}

#eventList li {
    background-color: #f9f9f9;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 8px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

#eventList li:hover {
    background-color: #e0e0e0;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 2; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: #00000066; 
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 30px;
    border: 1px solid #888;
    border-radius: var(--border-radius);
    width: 50%; 
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
}
#eventName {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box; 
}
.modal-buttons {
    display: flex;
    justify-content: center; /* Centra los botones */
    gap: 10px; /* Añade un espacio entre botones */
}
.modal-buttons button{
    background-color: #3CB5F5;
    color: #ffffff;
    transition: box-shadow 0.3s cubic-bezier(0.21, 0.68, 0.09, 0.27), transform 0.2s linear;
}
.modal-buttons button:hover {
    box-shadow: 0 20px 30px -13px #54ade888;
    transform: translateY(-3px);
}

.close-button {
    position: absolute;
    top: 0;
    right: 15px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.notification-container {
    display: none; /* Oculta la tarjeta por defecto */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1001;
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    border-radius: 5px;
    box-shadow: 0 2px 4px #00000033;
    transition: transform 0.3s ease-in-out;
}

.notification-container.show {
    display: block;
    transform: translateY(0);
}

.notification-message p {
    margin: 0;
    padding: 0;
}




@media only screen and (max-width: 979px) {
    .ag-courses_item {
      -ms-flex-preferred-size: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
    }
    .ag-courses-item_title {
      font-size: 24px;
    }
}
  
@media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }
  
}
@media only screen and (max-width: 639px) {
    .ag-courses_item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }
    .ag-courses-item_title {
      min-height: 72px;
      line-height: 1;
  
      font-size: 24px;
    }
    .ag-courses-item_link {
      padding: 22px 40px;
    }
    .ag-courses-item_docente {
      font-size: 16px;
    }
}